<div class="post">
    <% @posts.each do |post| %>
    <div id="post"
       <h2 class="title"><%= link_to post.title, post %></h2>
        <p class="date">Published <%= time_ago_in_words(post.created_at) %> </p>
        </div>
    <% end %>
</div>    

